<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <div class="pt-5 pb-3" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img class="d-block w-25 float-left" src="https://static.pingendo.com/img-placeholder-1.svg">
          <div class="row">
            <div class="col-md-12"><a class="btn text-dark btn-sm btn-link" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-4" style="">
          <div class="form-group"><label>商品名称*</label><input type="text" class="form-control" id="form27" placeholder="{{goods_name}}"></div>
        </div>
        <div class="col-md-4" style="">
          <div class="form-group"><label contenteditable="true">商品价格*</label><input type="email" class="form-control" id="form28" placeholder="goods_price"></div>
        </div>
        <div class="col-md-4" style="">
          <div class="form-group"><label>商品库存*</label><input type="text" class="form-control" id="form27" placeholder="goods_inventory"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group shadow-sm">
            <button class="btn dropdown-toggle btn-link text-body" data-toggle="dropdown" aria-expanded="false"> {{goods_type}}</button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 5px, 0px);" x-out-of-boundaries=""> <a class="dropdown-item" href="#">日用品</a>
              <a class="dropdown-item" href="#">食品</a>
              <a class="dropdown-item" href="#">饮品</a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group mt-2"><label>其他</label><textarea class="form-control" id="form30" rows="3" placeholder="{{info}}"></textarea></div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-12 p-0">
          <form>
            <div class="form-row">
              <div class="form-group col-md-4"> </div>
              <div class="form-group col-md-4"> </div>
              <div class="form-group col-md-4"> </div>
            </div>
            <div class="form-group"> </div>
            <div class="form-group"> </div> <button type="submit" class="btn btn-primary mx-3">&nbsp;save&nbsp;</button><button type="submit" class="btn btn-primary mx-3">cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" style=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous" style=""></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>