<!--
文件名：cashier_goods_details
创建时间：2019-08-24
作者：陈雨琦
说明：web管理员/收银员页面的商品管理商品列表，可以点击操作来跳转到changeMessage页面，可以点击增加跳转到addGoods页面
修改日期：2019-08-25
-->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <a href="#" class="btn btn-danger"><i class="fa fa-database" aria-hidden="true"></i>&nbsp;商品管理</a>
            <a href="#" class="btn btn-warning" style=""><i class="fa fa-id-badge" aria-hidden="true"></i> 识别用户</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered ">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th></th>
                  <th>商品名称</th>
                  <th>价格</th>
                  <th>商品类别</th>
                  <th contenteditable="true">库存</th>
                  <th contenteditable="true">操作&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>Otto</td>
                  <td>Otto</td>
                  <td class="">Otto</td>
                  <td><a class="btn btn-link" href="/cashier_goods_details">Link</a></td>
                </tr>
                <tr>
                  <th>2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                  <td><a class="btn btn-link" href="/cashier_goods_details">Link</a></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td style="">Larry</td>
                  <td>the Bird</td>
                  <td>the Bird</td>
                  <td>the Bird</td>
                  <td>the Bird</td>
                  <td><a class="btn btn-link" href="/cashier_goods_details">Link</a></td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td style="">Larry</td>
                  <td>the Bird</td>
                  <td>the Bird</td>
                  <td>the Bird</td>
                  <td>the Bird</td>
                  <td><a class="btn btn-link" href="/cashier_goods_details">Link</a></td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td style="">Larry</td>
                  <td>the Bird</td>
                  <td>the Bird</td>
                  <td>the Bird</td>
                  <td>the Bird</td>
                  <td><a class="btn btn-link" href="/cashier_goods_details">Link</a></td>
                </tr>
              </tbody>
            </table>
          </div><a class="btn btn-link text-primary" href="/cashier_add_goods"><i class="fa fa-plus" aria-hidden="true"></i> 添加商品</a>
        </div>
      </div>
    </div>
    <div class="row p-5">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <ul class="pagination pagination-lg my-1 mx-2">
          <li class="page-item"> <a class="page-link text-dark" href="#"> <span>«</span></a> </li>
          <li class="page-item active border-dark"> <a class="page-link text-dark" href="#">1</a> </li>
          <li class="page-item"> <a class="page-link text-dark" href="#">2</a> </li>
          <li class="page-item"> <a class="page-link text-dark" href="#">3</a> </li>
          <li class="page-item"> <a class="page-link text-dark" href="#">4</a> </li>
          <li class="page-item"> <a class="page-link text-dark" href="#"> <span>»</span></a> </li>
        </ul>
      </div>
      <div class="col-md-4"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </div>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>