<!--
文件名：customer_identification
创建时间：2019-08-27
作者：陈雨琦
说明：收银员进行用户识别
修改日期：2019-08-30
-->
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="http://47.107.33.136/images/2019/08/23/facego_icon.png">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
	</head>

	<body>
		<div class="py-5 text-center align-items-center d-flex text-white" style="background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(&quot;https://static.pingendo.com/cover-bubble-dark.svg&quot;); background-position: center center, center center; background-size: cover, cover; background-repeat: repeat, repeat;">
			<div class="container py-5">
				<div class="row pb-5">
					<div class="mx-auto col-lg-8 col-md-10">
						<h1>Face&nbsp; the&nbsp; camera&nbsp; and&nbsp; click the button</h1>
					</div>
				</div>
				<div class="row">
					<div class="mx-auto col-lg-8 col-md-10">
						<div id="contentHolder" align="center">
							<video id="video" width="600" height="600" autoplay="">
								<ideo>
									<canvas style="display:none;" id="canvas" width="300" height="300"></canvas>
								</ideo>
							</video></div>
					</div>
					<div class="row pt-0">
						<div class="mx-auto col-lg-8 col-md-10" id="btn_snap">
							<a href="#" class="btn btn-lg mx-1 btn-light">
								<font face="黑体">START</font>
							</a>
						</div>
					</div>
					<div class="row pt-0">
						<div class="mx-auto col-lg-8 col-md-10" id="btn_snap">
							<a href="/cashier" class="btn btn-lg mx-1 btn-light">
								<font face="黑体">BACK</font>
							</a>
						</div>
					</div>
				</div>
			</div>
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			 crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
			 crossorigin="anonymous" style=""></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			 crossorigin="anonymous" style=""></script>
			<script src="/static/js/jquery.js"></script>
			<script type="text/javascript">
				var canvas = document.getElementById("canvas"),
					pzBtn = document.getElementById("btn_snap"),
					context = canvas.getContext("2d"),
					video = document.getElementById("video");
				//alert('该页面会调用您的摄像头');
				// 旧版本浏览器可能根本不支持mediaDevices，我们首先设置一个空对象
				if (navigator.mediaDevices === undefined) {
					navigator.mediaDevices = {};
				}
				// 一些浏览器实现了部分mediaDevices，我们不能只分配一个对象
				// 使用getUserMedia，因为它会覆盖现有的属性。
				// 这里，如果缺少getUserMedia属性，就添加它。
				if (navigator.mediaDevices.getUserMedia === undefined) {
					navigator.mediaDevices.getUserMedia = function(constraints) {
						// 首先获取现存的getUserMedia(如果存在)
						var getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
						// 有些浏览器不支持，会返回错误信息
						// 保持接口一致
						if (!getUserMedia) {
							return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
						}
						//否则，使用Promise将调用包装到旧的navigator.getUserMedia
						return new Promise(function(resolve, reject) {
							getUserMedia.call(navigator, constraints, resolve, reject);
						});
					}
				}
				var constraints = {
					audio: false,
					video: {
						width: 720,
						height: 720
					}
				};
				navigator.mediaDevices.getUserMedia(constraints)
					.then(function(stream) {
						var video = document.querySelector('video');
						// 旧的浏览器可能没有srcObject
						if ("srcObject" in video) {
							video.srcObject = stream;
						} else {
							//避免在新的浏览器中使用它，因为它正在被弃用。
							video.src = window.URL.createObjectURL(stream);
						}
						video.onloadedmetadata = function(e) {
							video.play();
						};
					})
					.catch(function(err) {
						console.log(err.name + ": " + err.message);
					});



				pzBtn.addEventListener("click", function() {
					// 点击，canvas画图
					context.drawImage(video, 0, 0, 300, 300);
					// 获取图片base64链接
					var image = canvas.toDataURL('image/png');
					// 定义一个img
					var img = new Image();
					//设置属性和src
					img.id = "imgBoxxx";
					img.src = image;

					// base64转文件
					function dataURLtoFile(dataurl, filename) {
						var arr = dataurl.split(','),
							mime = arr[0].match(/:(.*?);/)[1],
							bstr = atob(arr[1]),
							n = bstr.length,
							u8arr = new Uint8Array(n);
						while (n--) {
							u8arr[n] = bstr.charCodeAt(n);
						}
						return new File([u8arr], filename, {
							type: mime
						});
					}
					var file = dataURLtoFile(image, 'aa.png'); {#
						console.log(file);#
					}

					var formdata = new FormData();
					formdata.append('file_obj', file);
					var uploadAjax = $.ajax({
						type: "post",
						//后端需要调用的地址
						url: "/order_face_upload",
						data: formdata,
						cache: false,
						processData: false,
						contentType: false,
						//设置超时
						timeout: 10000,
						//async: true,
						success: function(data) {
							console.log(typeof(data));
							var obj = eval("(" + data + ")");
							console.log(obj);
							var confidence = obj['results'][0]['confidence'];
							if (confidence < 80) {
								if (confirm('确定已经注册过了吗')) {
									//alert("确定");
									window.location.href = "/cashier_customer_order"
								} else {
									//alert("取消");
									var registerAjax = $.ajax({
										type: "post",
										//后端需要调用的地址
										url: "/order_register",
										data: formdata,
										cache: false,
										processData: false,
										contentType: false,
										//设置超时
										timeout: 100000,
										{#
											async: true,
											#
										}
										success: function(data) {
											//成功后回调
											alert('注册成功');
											console.log(data);
											window.location.href = "/cashier_customer_order"
										},
										error: function(data) {

										},
										//调用执行后调用的函数
										complete: function(XMLHttpRequest, textStatus) {
											if (textStatus == 'timeout') {
												registerAjax.abort(); //取消请求
												//超时提示：请求超时，请重试
												alert("请求超时，请重试");
												//请求超时返回首页
											}
										}
									});
								}
							} else {
								window.location.href = "/cashier_customer_order"
							}

							//成功后回调
						},
						error: function(data) {
							alert("上传失败");
						},
						//调用执行后调用的函数
						complete: function(XMLHttpRequest, textStatus) {
							if (textStatus == 'timeout') {
								uploadAjax.abort(); //取消请求
								//超时提示：请求超时，请重试
								alert("请求超时，请重试");
								//请求超时返回首页
								//closeCard();
							}
						}
					});
				});
			</script>
		</div>
	</body>

</html>
