<!--
文件名：cashier_goods_details
创建时间：2019-08-24
作者：陈雨琦
说明：web中管理员和收银员对商品信息进行增删改
修改日期：2019-08-25
-->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="http://47.107.33.136/images/2019/08/23/facego_icon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <div class="pt-5 pb-3" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img id="good_img" class="d-block w-25 float-left" src="https://static.pingendo.com/img-placeholder-1.svg">
          <div class="row">
            <div class="col-md-12">
                <a class="btn text-dark btn-sm btn-link" href="#">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-4" style="">
          <div class="form-group"><label>商品名称</label><input type="text" class="form-control" id="good_name" placeholder="good_name"></div>
        </div>
        <div class="col-md-4" style="">
          <div class="form-group"><label contenteditable="true">商品价格</label><input type="email" class="form-control" id="good_price" placeholder="good_price"></div>
        </div>
        <div class="col-md-4" style="">
          <div class="form-group"><label>商品库存</label><input type="text" class="form-control" id="good_stock" placeholder="good_inventory"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group shadow-sm">
            <button class="btn dropdown-toggle btn-link text-body" data-toggle="dropdown" aria-expanded="false"> 类别</button>
              <input type="text" class="form-control" id="good_type" placeholder="good_type">
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 5px, 0px);" x-out-of-boundaries="">
              <a class="dropdown-item" href="#" onclick="choose(this)">日用品</a>
              <a class="dropdown-item" href="#" onclick="choose(this)">食品</a>
              <a class="dropdown-item" href="#" onclick="choose(this)">饮品</a>
              <a class="dropdown-item" href="#" onclick="choose(this)">书籍杂志</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group mt-2"><label>简介</label><textarea class="form-control" id="good_info" rows="3" placeholder="简介" ></textarea></div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-12 p-0">
          <form>
            <div class="form-row">
              <div class="form-group col-md-4"> </div>
              <div class="form-group col-md-4"> </div>
              <div class="form-group col-md-4"> </div>
            </div>
            <div class="form-group"> </div>
            <div class="form-group"> </div>
          </form>
          <button type="button" class="btn btn-primary mx-3" onclick="save()">&nbsp;save&nbsp;</button>
          <button type="button" class="btn btn-primary mx-3" onclick="cancel()">cancel</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" style=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous" style=""></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
  <script src="/static/js/jquery.js"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>
<script>
    function get_name(){
        var url=document.location.toString();
        var name = url.split('?')[1].split('=')[1];
        return name;
    }

    function onload() {
        $.ajax(
			{
			        url:"/staff_ask_for_goods_details",
			        data: {"name": get_name()},
			        type: 'post',
			        success: function (obj) {
			            var data = eval("("+obj+")");
			            var name = data['name'];
			            var stock = data['stock'];
			            var type = data['type'];
			            var img = data['img'];
			            var price = data['price'];
			            var info = data['info'];
			            id = data['id'];
			            document.getElementById('good_name').value = name;
			            document.getElementById('good_price').value = price.toFixed(2).toString();
                        document.getElementById('good_stock').value = stock.toString();
                        document.getElementById('good_img').src = img;
                        document.getElementById('good_info').innerText = info;
                        document.getElementById('good_type').value = type;
			        },
			        error: function () {
			            alert("获取商品详情失败，请检查网络");
			        }
			    });
    }
    function choose(self) {
        console.log(self.innerText);
        document.getElementById('good_type').value = self.innerText;
    }
    function save() {
        //将修改发送到服务器
        var name = document.getElementById('good_name').value;
        var price = document.getElementById('good_price').value;
        var stock = document.getElementById('good_stock').value;
        var type = document.getElementById('good_type').value;
        var info = document.getElementById('good_info').value;
        $.ajax({
            url:"/staff_change_goods_details",
            data:{'name': name, 'price': price, 'stock': stock, 'type': type, 'info': info, 'id': id},
            type: 'post',
            success: function(obj){
                console.log(obj);
                alert('保存成功！');
                //返回上级
                location.assign(document.referrer);
            },
            error: function (obj) {
                alert('保存失败，请检查网络！')
            }
        })
    }
    function cancel() {
        if(confirm("确定取消吗？")){
            //返回上级
            location.assign(document.referrer)
        }
    }
    var id = 0;
    onload();
</script>
</html>