<!--
文件名：customer_records
创建时间：2019-08-23
作者：陈雨琦
说明：web端用户的购买记录
修改日期：2019-08-25
-->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group"> <a href="/customer_records" class="btn btn-dark">
              <i class="fa fa-shopping-bag" aria-hidden="true" onclick="get_records()"></i> 购买记录</a>
              <a href="/customer_recommend" class="btn btn-outline-dark" style="">
                  <i class="fa fa-diamond" aria-hidden="true"></i> 推荐商品</a>
              <a href="/customer_logout" class="btn btn-outline-dark">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; 登出&nbsp; &nbsp;</a>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-5" style="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered ">
                <thead class="thead-dark">
                  <tr>
                    <th>NO.</th>
                    <th>图片</th>
                    <th>商品名称</th>
                    <th>价格</th>
                    <th>数量</th>
                    <th>购买日期</th>
                    <th contenteditable="true">操作&nbsp;</th>
                  </tr>
                </thead>
                  <tbody id="tbody">
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
{#      <div class="row p-5">#}
{#        <div class="col-md-4"></div>#}
{#        <div class="col-md-4">#}
{#          <ul class="pagination pagination-lg my-1 mx-2">#}
{#            <li class="page-item"> <a class="page-link text-dark" href="#"> <span>«</span></a> </li>#}
{#            <li class="page-item active border-dark"> <a class="page-link text-dark" href="#">1</a> </li>#}
{#            <li class="page-item"> <a class="page-link text-dark" href="#">2</a> </li>#}
{#            <li class="page-item"> <a class="page-link text-dark" href="#">3</a> </li>#}
{#            <li class="page-item"> <a class="page-link text-dark" href="#">4</a> </li>#}
{#            <li class="page-item"> <a class="page-link text-dark" href="#"> <span>»</span></a> </li>#}
{#          </ul>#}
{#        </div>#}
{#        <div class="col-md-4"></div>#}
{#      </div>#}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script> &nbsp;&nbsp; <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
  </div>
</body>
  <script src="/static/js/jquery.js"></script>
    <script>
        function get_records(){
            $.ajax({
                    url: '/customer_ask_for_record',
                    data: {"identity":"web"},
                    type: 'post',
                    success: function (data) {
                        str="";
                        var obj = eval("("+data+")");
                        console.log(obj);
                        for(var i=0;i<obj.length;i++){
                            var img_url=obj[i]['img'];
                            var goods_name = obj[i]['name'];
                            var goods_price=obj[i]['price'];
                            var goods_count=obj[i]['count'];
                            var time=obj[i]['time'];
                            var link=goods_name;
                            str+="<tr><th>"+(i+1).toString()+"</th><td><img src="+img_url+" style=\"height:30px\"></td><td>"+goods_name+"</td><td>"+goods_price+
                                "</td><td>"+goods_count+"</td><td class=\"time\">"+time+"</td><td><a class=\"btn btn-link\" href="
                                +link+">查看详情</a></td></tr>";
                        }
                        tbody.innerHTML=str;
                    },
                    error: function () {
                        alert("no such records")
                    }
                });
            }
        get_records();
    </script>

</html>