<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>customer</title>
		<link rel="stylesheet" type="text/css" href="static/css/customer/customer.css"/>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap-grid.min.css"/>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10" id="main" align="center">
					<div id="customer" align="left">
						<font size="7" color="darkgreen">customer</font>
					</div>
					<div class="button" align="center">
						<form action="customer_goods" method="get">
							<button type="submit">查看商品</button>
						</form>
					</div>
					<div class="button" align="center">
						<form action="login_cashier" method="get">
							<button type="submit">购买记录</button>
						</form>
					</div>
					<div class="button" align="center">
						<form action="customer_recommend" method="get">
							<button type="submit">推荐商品</button>
						</form>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</body>
	<script src="static/js/jquery.js"></script>
</html>
