<!--
文件名：customer_records
创建时间：2019-08-23
作者：陈雨琦
说明：web端用户的购买记录
修改日期：2019-09-1  修改人：姜子玥
-->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="http://47.107.33.136/images/2019/08/23/facego_icon.png">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group"> <a href="/customer_records" class="btn btn-dark">
              <i class="fa fa-shopping-bag" aria-hidden="true" onclick="get_records()"></i> 购买记录</a>
              <a href="/customer_recommend" class="btn btn-outline-dark" style="">
                  <i class="fa fa-diamond" aria-hidden="true"></i> 推荐商品</a>
              <a href="/customer_logout" class="btn btn-outline-dark">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; 登出&nbsp; &nbsp;</a>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-5" style="">
      <div class="container" id="record">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered ">
                <thead class="thead-dark">
                  <tr>
                    <th>NO.</th>
                    <th>图片</th>
                    <th>商品名称</th>
                    <th>价格</th>
                    <th>数量</th>
                    <th>购买日期</th>
                    <th contenteditable="true">操作&nbsp;</th>
                  </tr>
                </thead>
                  <tbody id="tbody">
                  	<tr v-for="(item,index) in cloneTableDatas">
										<td>{[ item.id ]}</td>
										<td><img :src="item.img" style="height:30px"></td>
										<td>{[ item.name ]}</td>
										<td>{[ item.price]}</td>
										<td>{[ item.count ]}</td>
										<td>{[ item.time ]}</td>
										<td><a class="btn btn-link" :href="item.link">查看详情</a></td>
									  </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
	<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
<!--	
方法名：get_records
作者：姜子玥
创建时间：2019-08-27
说明：动态渲染消费记录页面
修改日期：2019-09-01
-->
  <script>
    	var app=new Vue({
    		delimiters: ['{[', ']}'],
    		el: "#record",
    		data:{
    			records:[],
    			cloneTableDatas:[],
    			
    		},
    		created:function(){
    			var _self=this;
    			$.ajax({
    				type:"get",
    				url:"/customer_ask_for_record",
    				async: false,
    				dataType: "jsonp",
					jsonp: "callback",
					jsonpCallback: "successCallback",
					success:function(data){
						for(var i=0;i<data.length;i++){
							_self.records[i]=data[i];
							_self.records[i]["id"]=i+1;
							_self.records[i]["img"]= 'http://' + document.location.host + data[i]["img"];
							{#console.log(_self.records[i]["img"]);#}
							_self.records[i]["link"]='http://'+ document.location.host +"/goods_info?name="+data[i]["name"];
						}
						_self.getShowData(_self.records);
					},
					error:function(){
						alert("查询出错");
					}
    			});
    		},
    		methods:{
    			getShowData:function(arr){
    				this.cloneTableDatas=JSON.parse(JSON.stringify(arr));
    			},
    		}
    	});
    </script>

</html>