<!--
文件名：admin_goods_manage
创建时间：2019-08-26
作者：陈雨琦
说明：管理员管理商品列表，可以增加删除和修改
修改日期：2019-08-26
-->


<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <a href="/admin_staff_management" class="btn btn-danger">
              <i class="fa fa-id-card-o" aria-hidden="true"></i>
              <font face="FontAwesome">&nbsp;员工管理</font>
            </a>
            <a href="/admin" class="btn btn-warning" style="">
              <i class="fa fa-cube" aria-hidden="true"></i>
              <font face="FontAwesome"> 商品管理</font>
            </a><a href="#" class="btn btn-dark" style="">
              <i class="fa fa-cube" aria-hidden="true"></i>
              <font face="FontAwesome"> 门店管理</font>
            </a>
            <a href="/admin_record" class="btn btn-light"><i class="fa fa-database" aria-hidden="true"></i> 销售记录 </a>
            <a href="/staff_logout" class="btn btn-info"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; 登出&nbsp;&nbsp;</a> </div>
        </div>
      </div>
    </div>
    <div class="pt-5" style="">
      <div class="container">
        <div class="" style="">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-bordered ">
                    <thead class="thead-dark">
                      <tr>
                        <th>#</th>
                        <th></th>
                        <th>商品名称</th>
                        <th>价格</th>
                        <th>商品类别</th>
                        <th contenteditable="true">库存</th>
                        <th contenteditable="true">操作&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td class="">Otto</td>
                        <td><a class="btn btn-link" href="#">Link</a></td>
                      </tr>
                      <tr>
                        <th>2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>Thornton</td>
                        <td>Thornton</td>
                        <td>Thornton</td>
                        <td><a class="btn btn-link" href="#">Link</a></td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td style="">Larry</td>
                        <td>the Bird</td>
                        <td>the Bird</td>
                        <td>the Bird</td>
                        <td>the Bird</td>
                        <td><a class="btn btn-link" href="#">Link</a></td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td style="">Larry</td>
                        <td>the Bird</td>
                        <td>the Bird</td>
                        <td>the Bird</td>
                        <td>the Bird</td>
                        <td><a class="btn btn-link" href="#">Link</a></td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td style="">Larry</td>
                        <td>the Bird</td>
                        <td>the Bird</td>
                        <td>the Bird</td>
                        <td>the Bird</td>
                        <td><a class="btn btn-link" href="#">Link</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div><a class="btn btn-link text-primary" href="#"><i class="fa fa-plus" aria-hidden="true"></i> 添加商品</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row p-5">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <ul class="pagination pagination-lg my-1 mx-2">
              <li class="page-item"> <a class="page-link text-dark" href="#"> <span>«</span></a> </li>
              <li class="page-item active border-dark"> <a class="page-link text-dark" href="#">1</a> </li>
              <li class="page-item"> <a class="page-link text-dark" href="#">2</a> </li>
              <li class="page-item"> <a class="page-link text-dark" href="#">3</a> </li>
              <li class="page-item"> <a class="page-link text-dark" href="#">4</a> </li>
              <li class="page-item"> <a class="page-link text-dark" href="#"> <span>»</span></a> </li>
            </ul>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
     </div>
  </div>
</body>

</html>