<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <a href="/admin_staff_management" class="btn btn-danger">
              <i class="fa fa-id-card-o" aria-hidden="true"></i>
              <font face="FontAwesome">&nbsp;员工管理</font>
            </a>
            <a href="/admin" class="btn btn-warning" style="">
              <i class="fa fa-cube" aria-hidden="true"></i>
              <font face="FontAwesome"> 商品管理</font>
            </a><a href="#" class="btn btn-dark" style="">
              <i class="fa fa-cube" aria-hidden="true"></i>
              <font face="FontAwesome"> 门店管理</font>
            </a>
            <a href="/admin_record" class="btn btn-light"><i class="fa fa-database" aria-hidden="true"></i> 销售记录 </a>
            <a href="/staff_logout" class="btn btn-info"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; 登出&nbsp;&nbsp;</a> </div>
        </div>
      </div>
    </div>
    <div class="pt-5" style="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered ">
                <thead class="thead-dark">
                  <tr>
                    <th>#</th>
                    <th>姓名</th>
                    <th>所在门店</th>
                    <th>账号</th>
                    <th>密码</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td contenteditable="true"></td>
                    <td></td>
                    <td></td>
                    <td class=""></td>
                    <td><a class="btn btn-link" href="#">Link</a></td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td contenteditable="true"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a class="btn btn-link" href="#">Link</a></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td contenteditable="true"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a class="btn btn-link" href="#">Link</a></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td contenteditable="true"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a class="btn btn-link" href="#">Link</a></td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td contenteditable="true"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a class="btn btn-link" href="#">Link</a></td>
                  </tr>
                </tbody>
              </table>
            </div><a class="btn btn-link" href="#"><i class="fa fa-plus" aria-hidden="true"></i> 添加员工</a>
          </div>
        </div>
      </div>
      <div class="row p-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <ul class="pagination pagination-lg my-1 mx-2">
            <li class="page-item"> <a class="page-link text-dark" href="#"> <span>«</span></a> </li>
            <li class="page-item active border-dark"> <a class="page-link text-dark" href="#">1</a> </li>
            <li class="page-item"> <a class="page-link text-dark" href="#">2</a> </li>
            <li class="page-item"> <a class="page-link text-dark" href="#">3</a> </li>
            <li class="page-item"> <a class="page-link text-dark" href="#">4</a> </li>
            <li class="page-item"> <a class="page-link text-dark" href="#"> <span>»</span></a> </li>
          </ul>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
  </div>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>