<!--
文件名：admin_record
创建时间：2019-09-09
作者：姜子玥
说明：管理员显示销售记录并生成图表
修改日期：2019-09-09
-->
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="http://47.107.33.136/images/2019/08/23/facego_icon.png">
		<link rel="stylesheet" href="/static/css/bg.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
	</head>

	<body>
		<div class="py-5">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="btn-group">
							<a href="/admin_staff_management" class="btn btn-outline-dark">
								<i class="fa fa-id-card-o" aria-hidden="true"></i>
								<font face="FontAwesome">&nbsp;员工管理</font>
							</a>
							<a href="/admin" class="btn btn-outline-dark" style="">
								<i class="fa fa-cube" aria-hidden="true"></i>
								<font face="FontAwesome"> 商品管理</font>
							</a>
							<a href="/admin_shop_management" class="btn btn-outline-dark" style="">
								<i class="fa fa-cube" aria-hidden="true"></i>
								<font face="FontAwesome"> 门店管理</font>
							</a>
							<a href="/admin_record" class="btn btn-dark"><i class="fa fa-database" aria-hidden="true"></i> 销售记录 </a>
							<a href="/staff_logout" class="btn btn-outline-dark"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;
								登出&nbsp;&nbsp;</a>
						</div>
					</div>
				</div>
			</div>
			<div class="pt-3" style="">
				<div class="container" id="sells">
					<div class="row">
						<div class="col-md-12 my-3">
							<div class="row">
								<div class="col-md-2">
									<select id="shop" class="form-control">
										<option>选择商店</option>
										<option value="all">all</option>
									</select>
								</div>
								<div class="col-md-2">
									<select id="year" class="form-control">
										<option>选择查看年份</option>
									</select>
								</div>
								<div class="col-md-2">
									<select id="month" class="form-control">
										<option>选择查看月份</option>
										<option value="1月">1</option>
										<option value="2月">2</option>
										<option value="3月">3</option>
										<option value="4月">4</option>
										<option value="5月">5</option>
										<option value="6月">6</option>
										<option value="7月">7</option>
										<option value="8月">8</option>
										<option value="9月">9</option>
										<option value="10月">10</option>
										<option value="11月">11</option>
										<option value="12月">12</option>
									</select>
								</div>
								<div class="col-md-2">
									<button type="button" class="btn btn-outline-dark" btn-sm="" v-on:click="search">确认查询</button>
								</div>
								<div class="col-md-4">
									<button type="button" class="btn btn-outline-success" v-on:click="getTypeShow">商品种类销售情况</button>
									<button type="button" class="btn btn-outline-secondary" v-on:click="getTimeShow">查询年度销售统计</button>
								</div>
							</div>
						</div>

						<div class="table-responsive">
							<table class="table table-bordered " style="background:rgba(255,255,255,0.2);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000)">
								<thead class="thead-dark">
									<tr>
										<th>No</th>
										<th>商品名称</th>
										<th style="">销量</th>
										<th>销售总额</th>
									</tr>
								</thead>
								<tbody>
									<!--显示table的内容部分-->
									<tr v-for="(item,index) in cloneTableDatas">
										<td>{[ item.no ]}</td>
										<td>{[item.good_name]}</td>
										<td>{[ item.count ]}</td>
										<td>{[ item.total ]}</td>
									</tr>
								</tbody>
							</table>
							<!--销量-时间图-->
							<div class="modal fade" tabindex="-1" id="time">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">
												<font face="FontAwesome">销售-时间</font>
											</h4>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										</div>
										<div class="modal-body">
											<div class="col-md-12 my-3">
												<div class="row">
													<div class="col-md-6">
														<select id="selectYear" class="form-control">
															<option>选择年份</option>
															<option value="2019">2019</option>
														</select>
													</div>
													<div class="col-md-2">
														<button type="button" class="btn btn-outline-success" v-on:click="showTime">确认查询</button>
													</div>
													<div class="col-md-2">
														<button type="button" class="btn btn-outline-danger" v-on:click="getTypeShow">商品种类销售统计</button>
													</div>
												</div>
											</div>
											<div id="year_data_show" style="width:750px;height: 500px ;">

											</div>
										</div>
									</div>
								</div>
							</div>
							<!--
                            	作者：姜子玥
                            	时间：2019-09-04
                            	描述：销量-商品种类图
                            -->
							<div class="modal fade" tabindex="-1" id="type">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">
												<font face="FontAwesome">销售-商品种类</font>
											</h4>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										</div>
										<div class="modal-body">
											<div class="col-md-12 my-3">
												<div class="row">
													<div class="col-md-4">
														<select id="selectTypeYear" class="form-control">
															<option>选择年份</option>
															<option value="2019">2019</option>
														</select>
													</div>
													<div class="col-md-4">
														<select id="selectMonth" class="form-control">
															<option>选择月份</option>
															<option value="1">1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
															<option value="6">6</option>
															<option value="7">7</option>
															<option value="8">8</option>
															<option value="9">9</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="12">12</option>
														</select>
													</div>
													<div class="col-md-2">
														<button type="button" class="btn btn-outline-success" v-on:click="showType">确认查询</button>
													</div>
													<div class="col-md-2">
														<button type="button" class="btn btn-outline-danger" v-on:click="getTimeShow">查询年度销售统计</button>
													</div>
												</div>
											</div>
											<div id="type_data_show" style="width:750px;height: 500px ;">

											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		 crossorigin="anonymous" style=""></script>
		<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
		<script src="/static/js/echarts.min.js"></script>
		<script type="text/jscript"></script>
		<script>
			var app = new Vue({
				delimiters: ['{[', ']}'],
				el: "#sells",
				data: {
					shoplist: [], //存储商店名
					records: [], //显示在界面上的记录
					searchRecord: {
						"shop_name": "",
						"year": "",
						"month": "",
					}, //搜索
					cloneTableDatas: [], //显示用
				},
				//方法名：created
				//创建时间：2019-09-04
				//作者：姜子玥
				//说明：获取数据库的销售数据显示在界面 以及所有商店名称
				created: function() {
					var _self = this;
					var date = new Date();
					var current_year = date.getFullYear();
					var current_month = date.getMonth() + 1;
					//默认显示当前月的全部门店销售情况
					$.ajax({
						type: "get",
						url: "/admin_ask_for_record",
						async: false,
						dataType: "jsonp",
						jsonp: "callback",
						jsonpCallback: "successCallback",
						timeout: 1000,
						data: {
							"year": current_year,
							"month": current_month,
							"shop_name": "all",
						},
						success: function(data) {
							for (var i = 0; i < data.length; i++) {
								_self.records[i] = data[i];
								_self.records[i]["no"] = i + 1;
								_self.records[i]['total'] = _self.records[i]['total'].toFixed(2);
							}
							console.log(_self.records);
							_self.getShowData(_self.records);
						},
						error: function() {
							alert("查询出错");
						},
						complete: function() {
							var year = parseInt(current_year.toString());
							for (var i = year; i > year - 1; i--) {
								$('#year').append("<option value='" + i + "'>" + i + "</option>");
							}
							//获取门店列表数据
							$.ajax({
								type: "post",
								url: "/admin_ask_for_shop",
								async: false,
								dataType: "jsonp",
								jsonp: "callback",
								jsonpCallback: "successCallback",
								data: {
									"identity": "web"
								},
								success: function(data) {
									_self.shoplist = data;
									var shop_list = _self.shoplist;
									for (var i = 0; i < shop_list.length; i++) {
										$('#shop').append("<option value='" + shop_list[i]["name"] + "'>" + shop_list[i]["name"] +
											"</option>");
									}
								},
								error: function() {
									alert("获取商店列表失败");
								}
							});
						}
					});
				},
				methods: {
					//方法名：getShowData
					//创建时间：2019-09-04
					//作者：姜子玥
					//说明：渲染数据
					getShowData: function(arr) {
						this.cloneTableDatas = JSON.parse(JSON.stringify(arr));
					},
					//方法名：search
					//创建时间：2019-09-04
					//作者：姜子玥
					//说明：显示查询
					search: function() {
						var _self = this;
						_self.searchRecord.year = document.getElementById("year").value;
						_self.searchRecord.month = document.getElementById("month").value;
						_self.searchRecord.shop_name = document.getElementById("shop").value;

						//判断输入错误
						if (_self.searchRecord.year == "选择查看年份") {
							alert("请选择年份");
							return;
						}
						if (_self.searchRecord.month == "选择查看月份") {
							alert("请选择月份");
							return;
						}
						if (_self.searchRecord.shop_name == "选择商店") {
							alert("请选择商店");
							return;
						}

						$.ajax({
							type: "get",
							url: "/admin_ask_for_record",
							async: false,
							dataType: "jsonp",
							jsonp: "callback",
							jsonpCallback: "successCallback",
							data: {
								"shop_name": _self.searchRecord.shop_name,
								"year": _self.searchRecord.year,
								"month": _self.searchRecord.month,
							},
							success: function(data) {
								for (var i = 0; i < data.length; i++) {
									_self.records[i] = data[i];
									_self.records[i]["no"] = i + 1;
									_self.records[i]['total'] = _self.records[i]['total'].toFixed(2);
								}
								_self.getShowData(_self.records);
								_self.searchRecord = {
									"shop_name": "",
									"year": "",
									"month": "",
								};
							},
							error: function() {
								alert("查询出错,请重新选择");
							}
						});
					},

					//方法名：getTimeShow
					//创建时间：2019-09-04
					//作者：姜子玥
					//说明：弹出模态框显示销量-时间图
					getTimeShow: function() {
						$("#type").modal('hide');
						$("#time").modal("show");
					},

					//方法名：showTime
					//创建时间：2019-09-04
					//作者：姜子玥，黄文政
					//说明：在模态框中显示时间-销售额图
					showTime: function() {
						var search_year = document.getElementById("selectYear").value;
						//判断输入错误
						if (search_year == "选择年份") {
							alert("请选择年份");
							return;
						}
						this.showShoplist = [];
						this.timeSeries = [];
						for (var i = 0; i < this.shoplist.length; i++) {
							this.showShoplist.push(this.shoplist[i].name);
							this.timeSeries.push({
								'name': this.shoplist[i].name,
								'type': 'bar',
								'data': [],
							})
						}
						this.showShoplist.push('全部商店');
						this.timeSeries.push({
							'name': '全部门店销售金额',
							'type': 'line',
							'data': [],
						});

						var _self = this;

						var yearChart = echarts.init(document.getElementById('year_data_show'));
						var option = {
							tooltip: {
								trigger: 'axis',
								axisPointer: {
									type: 'cross',
									crossStyle: {
										color: '#999'
									}
								}
							},
							toolbox: {
								feature: {
									magicType: {
										show: true,
										type: ['line', 'bar']
									},
									restore: {
										show: true
									},
									saveAsImage: {
										show: true
									}
								}
							},
							legend: {
								data: _self.showShoplist,
							},
							xAxis: [{
								type: 'category',
								data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
								axisPointer: {
									type: 'shadow'
								}
							}],
							yAxis: [{
								type: 'value',
								name: '销售金额',
								axisLabel: {
									formatter: '{value} 元'
								}
							}],
							series: _self.timeSeries,
						};
						yearChart.setOption(option);
						yearChart.showLoading();

						$.ajax({
							type: "get",
							url: "/admin_ask_for_year_sales",
							async: false,
							dataType: "jsonp",
							jsonp: "callback",
							jsonpCallback: "successCallback",
							data: {
								year: search_year
							},
							success: function(result) {
								if (result) {
									_self.timeSeries = [];
									for (var i = 0; i < _self.shoplist.length; i++) {
										_self.timeSeries.push({
											'name': _self.shoplist[i].name,
											'type': 'bar',
											'data': result[_self.shoplist[i].name],
										})
									}
									_self.timeSeries.push({
										'name': '全部商店',
										'type': 'line',
										'data': result['全部']
									});

									yearChart.hideLoading();
									yearChart.setOption({
										series: _self.timeSeries
									});

								}
							},
							error: function(errorMsg) {
								alert("请求图表失败");
								yearChart.hideLoading();
							}
						});
					},


					//方法名：getTypeShow
					//创建时间：2019-09-04
					//作者：姜子玥
					//说明：弹出商品种类-销售额模态框
					getTypeShow: function() {
						$("#time").modal('hide');
						$("#type").modal('show');
					},

					//方法名：showType
					//创建时间：2019-09-04
					//作者：姜子玥，黄文政
					//说明：在模态框中显示商品种类-销售额图
					showType: function() {
						var type_year = document.getElementById("selectTypeYear").value;
						var search_month = document.getElementById("selectMonth").value;

						//判断输入错误
						if (type_year == "选择年份") {
							alert("请选择年份");
							return;
						}
						if (search_month == "选择月份") {
							alert("请选择月份");
							return;
						}

						this.showShoplist = [];
						this.typeSeries = [];
						for (var i = 0; i < this.shoplist.length; i++) {
							this.showShoplist.push(this.shoplist[i].name);
							this.typeSeries.push({
								type: 'bar',
								smooth: true,
								seriesLayoutBy: 'row'
							});
						}
						this.typeSeries.push({
							type: 'line',
							smooth: true,
							seriesLayoutBy: 'row'
						});

						var _self = this;

						var typeChart = echarts.init(document.getElementById("type_data_show"));
						var option = {
							legend: {},
							tooltip: {
								trigger: 'axis',
								showContent: true,
								axisPointer: {
									type: 'cross',
									crossStyle: {
										color: '#998'
									}
								}
							},
							toolbox: {
								feature: {
									magicType: {
										show: true,
										type: ['line', 'bar']
									},
									restore: {
										show: true
									},
									saveAsImage: {
										show: true
									}
								}
							},
							dataset: {
								source: [
									['type', '食品', '饮品', '日用品', '书籍杂志'],
								]
							},
							xAxis: {
								type: 'category',
								axisPointer: {
									type: 'shadow'
								}
							},
							yAxis: {
								gridIndex: 0,
								type: 'value',
								name: '销售金额',
								axisLabel: {
									formatter: '{value}元'
								}
							},
							series: _self.typeSeries,
						};

						var _self = this;

						typeChart.setOption(option);
						$.ajax({
							type: "get",
							url: "/admin_ask_for_type_sales",
							async: false,
							dataType: "jsonp",
							jsonp: "callback",
							jsonpCallback: "successCallback",
							data: {
								year: type_year,
								month: search_month
							},
							success: function(result) {
								_self.typeSource = [];
								_self.typeSource.push(['type', '食品', '饮品', '日用品', '书籍杂志']);
								var i;
								for (i = 0; i < _self.showShoplist.length; i++) {
									_self.typeSource.push([_self.showShoplist[i], result['食品'][i], result['饮品'][i], result['日用品'][i], result[
										'书籍杂志'][i]]);
								}
								_self.typeSource.push(['全部', result['食品'][i], result['饮品'][i], result['日用品'][i], result['书籍杂志'][i]]);

								typeChart.hideLoading();
								typeChart.setOption({
									dataset: {
										source: _self.typeSource,
									},
								});
							},
							error: function() {
								alert("请求图标失败");
							}
						});
					},
				}
			})
		</script>
	</body>

</html>
