<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <a href="/admin_staff_management" class="btn btn-outline-dark">
              <i class="fa fa-id-card-o" aria-hidden="true"></i>
              <font face="FontAwesome">&nbsp;员工管理</font>
            </a>
            <a href="/admin" class="btn btn-outline-dark" style="">
              <i class="fa fa-cube" aria-hidden="true"></i>
              <font face="FontAwesome"> 商品管理</font>
            </a>
            <a href="/admin_shop_management" class="btn btn-outline-dark" style="">
              <i class="fa fa-cube" aria-hidden="true"></i>
              <font face="FontAwesome"> 门店管理</font>
            </a><a href="/admin_record" class="btn btn-dark"><i class="fa fa-database" aria-hidden="true"></i> 销售记录 </a>
            <a href="/staff_logout" class="btn btn-outline-dark"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; 登出&nbsp;&nbsp;</a> </div>
        </div>
      </div>
    </div>
    <div class="pt-3" style="">
      <div class="container" id="sells">
        <div class="row">
        	<div class="col-md-12 my-3">
                <div class="row">
                	<div class="col-md-2">
                		<select id="shop" class="form-control">
                			<option>&nbsp;&nbsp;&nbsp;&nbsp;选择商店&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                			<option value="all">all</option>
                  	</select>
                  </div>
                  <div class="col-md-2">
                  	<select id="year" class="form-control">
                    	<option>&nbsp;&nbsp;选择查看年份&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                  </select>
                  </div>
                  <div class="col-md-2">
                  	<select id="month" class="form-control">
                    	<option>&nbsp;&nbsp;选择查看月份&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                    	<option value="1月">1</option>
                    	<option value="2月">2</option>
                    	<option value="3月">3</option>
                    	<option value="4月">4</option>
                    	<option value="5月">5</option>
                    	<option value="6月">6</option>
                    	<option value="7月">7</option>
                    	<option value="8月">8</option>
                    	<option value="9月">9</option>
                    	<option value="10月">10</option>
                    	<option value="11月">11</option>
                    	<option value="12月">12</option>
                  </select>
                  </div>
                  <div class="col-md-2">
                  	<button type="button" class="btn btn-outline-dark" btn-sm="" v-on:click="search">确认查询</button>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-2">
                  	<button type="button" class="btn btn-outline-danger">销售统计</button>
                  </div>
                </div>
               </div>
               
            <div class="table-responsive">
              <table class="table table-bordered ">
                <thead class="thead-dark">
                  <tr>
                    <th>No</th>
                    <th>商品名称</th>
                    <th style="">销量</th>
                    <th>销售总额</th>
                  </tr>
                </thead>
                <tbody>
                  <!--显示table的内容部分-->
                  <tr v-for="(item,index) in cloneTableDatas">
                    <td>{[ item.no ]}</td>
                    <td>{[item.good_name]}</td>
                    <td>{[ item.count ]}</td>
                    <td>{[ item.total ]}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
  <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
  <script>
    var app = new Vue({
      delimiters: ['{[', ']}'],
      el: "#sells",
      data: {
        shoplist: [], //存储商店名
        records: [], //显示在界面上的记录
        searchRecord: {
          "shop_name": "",
          "year": "",
          "month": "",
        }, //搜索
        cloneTableDatas: [], //显示用
      },
      created: function() {
        var _self = this;
        var date = new Date();
        var current_year = date.getFullYear();
        var current_month = date.getMonth() + 1;
        //默认显示当前月的全部门店销售情况
        $.ajax({
          type: "get",
          url: "/admin_ask_for_record",
          async: false,
          dataType: "jsonp",
          jsonp: "callback",
          jsonpCallback: "successCallback",
          timeout: 1000,
          data: {
            "year": current_year,
            "month": current_month,
            "shop_name": "all",
          },
          success: function(data) {
            for (var i = 0; i < data.length; i++) {
              _self.records[i] = data[i];
              _self.records[i]["no"] = i + 1;
            }
              console.log(_self.records);
            _self.getShowData(_self.records);
          },
          error: function() {
            alert("查询出错");
          },
          complete: function() {
            var year = parseInt(current_year.toString());
            for (var i = year; i > year - 3; i--) {
              $('#year').append("<option value='" + i + "'>" + i + "</option>");
            }
              //获取门店列表数据
            $.ajax({
              type: "post",
              url: "/admin_ask_for_shop",
              async: false,
              dataType: "jsonp",
              jsonp: "callback",
              jsonpCallback: "successCallback",
              data: {
                "identity": "web"
              },
              success: function(data) {
                _self.shoplist = data;
                var shop_list = _self.shoplist;
                for (var i = 0; i < shop_list.length; i++) {
                  $('#shop').append("<option value='" + shop_list[i]["name"] + "'>" + shop_list[i]["name"] + "</option>");
                }
              },
              error: function() {
                alert("获取商店列表失败");
              }
            });
          }
        });
      },
      methods: {
        //渲染数据
        getShowData: function(arr) {
          this.cloneTableDatas = JSON.parse(JSON.stringify(arr));
        },
        //显示查询
        search: function() {
          var _self = this;
          _self.searchRecord.year = document.getElementById("year").value;
          _self.searchRecord.month = document.getElementById("month").value;
          _self.searchRecord.shop_name = document.getElementById("shop").value;
          $.ajax({
            type: "get",
            url: "/admin_ask_for_record",
            async: false,
            dataType: "jsonp",
            jsonp: "callback",
            jsonpCallback: "successCallback",
            data: {
              "shop_name": _self.searchRecord.shop_name,
              "year": _self.searchRecord.year,
              "month": _self.searchRecord.month,
            },
            success: function(data) {
              for (var i = 0; i < data.length; i++) {
                _self.records[i] = data[i];
                _self.records[i]["no"] = i + 1;
              }
                _self.getShowData(_self.records);
              _self.searchRecord = {
                "shop_name": "",
                "year": "",
                "month": "",
              };
            },
            error: function() {
              alert("查询出错,请重新选择");
            }
          });
        },
      }
    })
  </script>
</body>

</html>