<!--
    文件名：login
	作者：姜子玥
	时间：2019-08-23
	描述：网站的首界面，介绍网站以及实现登陆跳转功能
	修改：2019-09-05
-->
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FaceGo</title>
    <link href="https://fonts.lug.ustc.edu.cn/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" rel="stylesheet">
    <link href="/static/css/aos.css" rel="stylesheet">
    <link href="/static/css/ekko-lightbox.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body id="top">
    <header>
      <div class="container pt-4">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent px-0"><a class="text-white navbar-brand" href="#">Face Go</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#da-navbarNav" aria-controls="da-navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse text-uppercase" id="da-navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#">Home</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#services">Applications</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#projects">Goods</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Join us</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="da-home-page-text" data-aos="fade-right" data-aos-duration="1000">
        <div class="container">
          <div class="col-md-10 col-sm-12 px-4 mx-0">
            <h2 class="display-3" style="margin-left:-2px;">FaceGo</h2>
            <h3 class="h5 mt-3">A website that can understand you.</h3>
            <a class="smooth-scroll btn btn-outline-light mt-4" href="/login_customer">Start your shopping</a>
            <a class="smooth-scroll btn btn-outline-light mt-4" href="#learn">Know More</a>
            <div class="col-md-2"></div>
            <a class="smooth-scroll btn btn-outline-light mt-4" href="/login_staff">Start your work</a>
          </div>
        </div>
      </div>
    </header>
    <div class="page-content">
      <div>
      	
<div class="da-section da-work bg-secondary" id="learn">
  <div class="container">
    <div class="h3 pb-3 text-center text-white" data-aos="fade-up">Why Choose Us?</div>
    <p class="px-5 pb-5 text-center text-white" data-aos="fade-up">Because we can understand you.</p>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3" data-aos="flip-left">
          <div class="card-body mt-4 mb-1 text-center"><i class="pb-3 text-primary fas fa-briefcase fa-3x"></i>
            <div class="h4 pb-3">Experience</div>
            <p>Support online and offline shopping and recommend goods you may like without id or password.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3" data-aos="zoom-in-up">
          <div class="card-body mt-4 mb-1 text-center"><i class="pb-3 text-primary fas fa-sliders-h fa-3x"></i>
            <div class="h4 pb-3">Flexibility</div>
            <p>Plenty of offline shops with 24 hours services, all ways of payment.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3" data-aos="flip-right">
          <div class="card-body mt-4 mb-1 text-center"><i class="pb-3 text-primary fas fa-trophy fa-3x"></i>
            <div class="h4 pb-3">Results</div>
            <p>FaceGo is the best choice no matter what you want </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="da-section bg-light" id="services">
  <div class="da-services">
    <div class="container text-center">
      <div class="h3 pb-5 text-center" data-aos="fade-up">Application</div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="card mb-3">
            <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="500">
              <div class="text-primary"><i class="pb-3 fas fa-code fa-3x"></i>
                <p class="font-weight-bold">网站</p>
              </div>
              <p>顾客面部识别登陆网站进行购物 员工密码进行管理</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card mb-3">
            <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="1000">
              <div class="text-primary"><i class="pb-3 fab fa-buromobelexperte fa-3x"></i>
                <p class="font-weight-bold">微信小程序</p>
              </div>
              <p>顾客可以进入小程序进行购物，更加便捷&nbsp;&nbsp;&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card mb-3">
            <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="1500">
              <div class="text-primary"><i class="pb-3 fas fa-cubes fa-3x"></i>
                <p class="font-weight-bold">线下实体店</p>
              </div>
              <p>全国连锁，提供24小时服务线下实体店&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card mb-3">
            <div class="card-body py-5" data-aos="zoom-in" data-aos-duration="2000">
              <div class="text-primary"><i class="pb-3 fas fa-eye fa-3x"></i>
                <p class="font-weight-bold">相关推荐</p>
              </div>
              <p>作为最懂您的我们，我们可以向您推荐您喜欢的商品</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="da-projects" id="projects">
  <div class="row mx-0">
    <div class="col-md-6 px-0 da-project-1" style="background-image: url('/static/img/login/da-img-2.jpg');" data-aos="zoom-in"></div>
    <div class="col-md-6 pl-5 pt-5 pb-3">
      <div class="row">
        <div class="col-1 da-project-icon"><i class="text-warning fas fa-user-md fa-2x fa-fw"></i></div>
        <div class="col-10">
          <div class="h4">日用品</div>
          <p>便利店基本的日用品是我们提供的货品基础</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-1 da-project-icon"><i class="text-info fas fa-book fa-2x fa-fw"></i></div>
        <div class="col-10">
          <div class="h4">书籍</div>
          <p>作为有文化的商店，报刊书籍也在我们的出售范围里，不仅仅有时尚杂志，还有各类漫画</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1 da-project-icon"><i class="fas fa-shopping-basket fa-2x fa-fw"></i></div>
        <div class="col-10">
          <div class="h4">食物</div>
          <p>不仅仅有方便面，还有各类小吃，各种美味进口面包</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-md-6 pl-5 pt-5 pb-3">
      <div class="row mb-3">
        <div class="col-1 da-project-icon"><i class="text-warning fas fa-money-bill-alt fa-2x fa-fw"></i></div>
        <div class="col-10">
          <div class="h4">饮料</div>
          <p>满足各类人群的快乐水都可以在我们的便利店里找到</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-1 da-project-icon"><i class="text-info far fa-chart-bar fa-2x fa-fw"></i></div>
        <div class="col-10">
          <div class="h4">酒水</div>
          <p>啤酒和炸鸡更配哦，rio鸡尾酒不仅好看更好喝哦</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1 da-project-icon"><i class="fas fa-music fa-2x fa-fw"></i></div>
        <div class="col-10">
          <div class="h4">提高生活质量小物</div>
          <p>作为热爱生活的我们，提高生活质量的小物品也能在我们店里找到哦</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 px-0 da-project-2" style="background-image: url('/static/img/login/da-img-5.jpg');" data-aos="zoom-in"></div>
  </div>
</div>
<div class="da-expertise">
  <div class="row mx-0">
    <div class="col-md-6 px-0 da-exp-image" style="background-image: url('/static/img/login/da-img-6.jpg');" data-aos="zoom-in"></div>
    <div class="col-md-6 da-exp-skills">
      <div class="container text-uppercase">
        <h3 class="h5 mb-5">Our Sells</h3>
        <div class="col px-0 mb-4">
          <p>Web 55%</p>
          <div class="progress" style="height: 5px;">
            <div class="progress-bar" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" style="width: 55%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col px-0 mb-4">
          <p>WeChart mini-program 85%</p>
          <div class="progress" style="height: 5px;">
            <div class="progress-bar" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col px-0 mb-4">
          <p>Offline shops 90%</p>
          <div class="progress" style="height: 5px;">
            <div class="progress-bar" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="da-section bg-secondary text-white">
  <div class="container">
    <div class="row px-4">
      <div class="col-md-3 col-sm-6">
        <div class="media py-2" data-aos="flip-up"><i class="mr-3 fas fa-clipboard-check  fa-3x fa-fw"></i>
          <div class="media-body">
            <div class="h5">1575</div>
            <div class="h6">Projects Done</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="media py-2" data-aos="flip-up"><i class="mr-3 fas fa-smile  fa-3x fa-fw"></i>
          <div class="media-body">
            <div class="h5">1245</div>
            <div class="h6">Happy Clients</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="media py-2" data-aos="flip-up"><i class="mr-3 fas fa-file-alt fa-3x fa-fw"></i>
          <div class="media-body">
            <div class="h5">225</div>
            <div class="h6">Appreciations</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="media py-2" data-aos="flip-up"><i class="mr-3 fas fa-clock  fa-3x fa-fw"></i>
          <div class="media-body">
            <div class="h5">1260</div>
            <div class="h6">Working Hours</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="da-section da-brand bg-secondary">
  <div class="container text-center text-white">
    <div class="carousel slide pb-5" id="da-brand-carouselIndicator" data-ride="carousel">
      <ol class="carousel-indicators">
        <li class="active" data-target="#da-brand-carouselIndicator" data-slide-to="0"></li>
        <li data-target="#da-brand-carouselIndicator" data-slide-to="1"></li>
        <li data-target="#da-brand-carouselIndicator" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <p><font face="宋体">热爱可抵岁月漫长</font></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <p>FaceGo是一个神奇的购物网站</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <p>开发FaceGo的我们是一群热爱生活与代码的人，期待更多类似的人加入我们</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="da-contact" id="contact">
  <div class="da-contact-detail" data-aos="zoom-in" data-aos-duration="1000">
    <div class="container">
      <div class="card py-4 px-4">
        <div class="h4 pb-4">Join Us</div>
        <div class="row">
          <div class="col-md-5">
            <p><font face="宋体">我们的联系方式：</font></p>
            <p><b>Address:</b> Southeast University,Nanjing, China</p>
            <p><b>Phone:</b> +233-6666</p>
            <p><b>Email:</b> facego@seu.edu.cn</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="bg-secondary da-section">
      <div class="container text-white">
        <div class="row">
          <div class="col-md-4">
            <div class="h2">Hello!</div>
            <p class="mb-0">facego@seu.edu.cn</p>
            <p>+233-6666</p>
          </div>
          <div class="col-md-4">
            <div class="h6 pb-2">Follow Us</div>
            <ul>
              <li><a class="da-social-link" href="#">Twitter</a></li>
              <li><a class="da-social-link" href="#">Facebook</a></li>
              <li><a class="da-social-link" href="#">Instagram</a></li>
              <li><a class="da-social-link" href="#">Google</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="h6 pb-2">Copyright</div>
            <p>&copy; 2019 FaceGo. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <div id="scrolltop">
      <button class="btn btn-primary"><span class="icon"><i class="fas fa-angle-up fa-2x"></i></span></button>
    </div>
  </body>
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/static/js/aos.js"></script>
    <script src="/static/js/ekko-lightbox.min.js"></script>
    <script src="/static/js/main.js"></script>
</html>