<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/customer_recommand.css"/>
	</head>
	<body>
		<div class="container">
			<div class="col-md-10" id="main" align="center">
				<div class="row clearfix">
					<div class="col-md-12 column">
						 <span class="label label-default"><font size="9" color="#1E7E34">商品推荐</font></span>
						<div class="row clearfix">
							<div class="col-md-12 column">
								<hr style="boreder:3 size=3">
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-2 column">
								<div class="btn-group">
									<select name="select_condition">        <!--下拉列表框-->
										<option value="condition" selected="selected">筛选条件</option>
										<option value="season">季节性推荐</option>
										<option value="xietong">协同关系推荐</option>
										<option value="alike">类似商品推荐</option>
									</select>
								</div>
							</div>
							<div class="col-md-1 column">
								 <button type="button" class="btn btn-default">搜索</button>
							</div>
							<div class="col-md-6 column">
							</div>
							<div class="col-md-3 column">
								<div class="btn-group">
									<select name="select_condition">        <!--下拉列表框-->
										<option value="condition" selected="selected">默认排序</option>
										<option value="season">价格</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row clearfix head">
							<div class="col-md-1 column">
								 <span class="label label-default">序号</span>
							</div>
							<div class="col-md-3 column">
								 <span class="label label-default">商品名称</span>
							</div>
							<div class="col-md-1 column">
								 <span class="label label-default">价格</span>
							</div>
							<div class="col-md-2 column">
								 <span class="label label-default">商品类别</span>
							</div>
							<div class="col-md-3 column">
								 <span class="label label-default">推荐原因</span>
							</div>
							<div class="col-md-2 column">
								 <span class="label label-default">操作</span>
							</div>
						</div>
						<div class="row clearfix item">
							<div class="col-md-1 column num">1
							</div>
							<div class="col-md-1 column">
								<img alt="140x140" src="img/default.png" />
							</div>
							<div class="col-md-2 column">名称
							</div>
							<div class="col-md-1 column">1.00
							</div>
							<div class="col-md-2 column">商品类别
							</div>
							<div class="col-md-3 column">原因
							</div>
							<div class="col-md-2 column">
								 <button type="button" class="btn btn-default">查看</button>
							</div>
						</div>
						<div class="row clearfix item">
							<div class="col-md-1 column num">2
							</div>
							<div class="col-md-1 column">
								<img alt="140x140" src="img/default.png" />
							</div>
							<div class="col-md-2 column">名称
							</div>
							<div class="col-md-1 column">1.00
							</div>
							<div class="col-md-2 column">商品类别
							</div>
							<div class="col-md-3 column">原因
							</div>
							<div class="col-md-2 column">
								 <button type="button" class="btn btn-default">查看</button>
							</div>
						</div>
						<div class="row clearfix item">
							<div class="col-md-1 column num">3
							</div>
							<div class="col-md-1 column">
								<img alt="140x140" src="img/default.png" />
							</div>
							<div class="col-md-2 column">名称
							</div>
							<div class="col-md-1 column">1.00
							</div>
							<div class="col-md-2 column">商品类别
							</div>
							<div class="col-md-3 column">原因
							</div>
							<div class="col-md-2 column">
								 <button type="button" class="btn btn-default">查看</button>
							</div>
						</div>
						<div class="row clearfix item">
							<div class="col-md-1 column num">4
							</div>
							<div class="col-md-1 column">
								<img alt="140x140" src="img/default.png" />
							</div>
							<div class="col-md-2 column">名称
							</div>
							<div class="col-md-1 column">1.00
							</div>
							<div class="col-md-2 column">商品类别
							</div>
							<div class="col-md-3 column">原因
							</div>
							<div class="col-md-2 column">
								 <button type="button" class="btn btn-default">查看</button>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-3 column">
								 <button type="button" class="btn btn-default">查看</button>
							</div>
							<div class="col-md-9 column">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/jquery.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
