#main{
	height: 900px;
	width: 1200px;
	margin: auto;
	margin-top: 40px;
	background-color: #F0F8FF;
	border: 1px solid;
	border-color: black;
	border-radius: 25px;
	position: relative;
	align-content: center;
}
#login{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	opacity: 0.8;
	left: 2%;
}
#camera{
	float: left;
	margin: 20px;
}
#contentHolder{
	/* width: 300px;
	height: 300px; */
	margin-bottom: 10px;
}
#btn_snap{
	margin: 0 auto;
	border: 1px solid #f0f0f0;
	background: #5CACEE;
	color: #FFF;
	width: 100px;
	height: 36px;
	line-height: 36px;
	border-radius: 8px;
	text-align: center;
	cursor: pointer;
	cursor: pointer;
	/*禁止选择*/
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
#imgBoxxx{
	width: 200px;
	margin: 60px 20px 20px;
}